@import '@/scss/mixins';

footer {
  background-color: $bg2;
  height: 12vh;
  @include media-desk-first(tablet) {
    height: 25vh;
  }
  .cont {
    display: flex;
    justify-content: space-between;
    @include media-desk-first(tablet) {
      flex-direction: column;
      justify-content: space-around;
    }
    align-items: center;
  }
}
.low-foot {
  height: 2vh;
  background-color: $bg3;
}

.list-wrap {
  display: flex;
  height: 75%;
  margin-top: 4.3%;
}

img[alt='big-logo'] {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  width: 520px;
}
