@import './mixins';

.stripe3 {
  overflow: hidden;
  height: 40vh;
  @include media-desk-first(tablet) {
    height: 50vw;
  }
  .cont {
    background-color: $black;
    display: flex;
    align-items: center;
    color: $white;
  }
}

.stripe3dot1 {
  height: 80vh;
  background-color: $dark;
  padding-bottom: 20px;
  @include media-desk-first(full-desktop) {
    height: 85vh;
  }
  @include media-desk-first(desktop) {
    height: 110vh;
  }
  @include media-desk-first(sm-desktop) {
    height: 112vh;
  }
  @include media-desk-first(xl-tablet) {
    height: 116vh;
  }
  @include media-desk-first(tablet) {
    height: 140vh;
  }
  @include media-desk-first(s-tablet) {
    height: 165vh;
  }
  @include media-desk-first(s-phone) {
    height: 210;
  }
  .cont {
    position: relative;
    .jumboBtn {
      position: absolute;
      left: 0;
      font-size: 1.2rem;
      padding: 6px 18px;
      /* non si può usare translate (lo uso poi in animazione,
    altrimenti si influenzano e fa effetti strani durante
     l'animazione) */
      top: -19.5px;
      &.btnMore {
        font-size: 0.7rem;
        padding: 5px 50px;
        display: block;
        position: static;
        margin: 5vh auto 0;
        @include media-desk-first(tablet) {
        margin: 0 auto ;
        }
        @include media-desk-first(s-tablet) {
        margin: 4vh auto 0;
        }
      }
    }
  }
}

img.jumbo {
  width: 100vw;
}

.stripe4 {
  background-color: $brand;
  height: 15vh;
  @include media-desk-first(desktop) {
    height: 33vh;
  }
}

main {
  height: 42vh;
  background-image: url('./assets/img/footer-bg.jpg');
  overflow: hidden;
  position: relative
}


.comic-box {
  padding-top: 8vh;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}