 @import '@/scss/mixins';

.stripe2 {
  height: 11vh;
}

.stripe2 > .cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 60px;
}

.hamburger{
  //  margin bottom serve a compensare per allineamento
  // spinta dal basso che hanno altri <li> della navigateBar comp
  margin-bottom: 5px;
  display: none;
    @include media-desk-first(xl-tablet) {
    @include flex(column, space-between, center);
  }
}